<div class="left">
    <div class="buttonsLeftTop">
        <input type="image" src="../../../assets/imgs/garage.png"/>
        <input type="image" src="../../../assets/imgs/meteo.png"/>
    </div>
    <div class="buttonsLeftBottom">
        <input type="image" src="../../../assets/imgs/internet.png"/>
        <input type="image" src="../../../assets/imgs/chauffage.png"/>
    </div>
</div>
<div class="right">
    <div class="buttonsRightTop">
        <input type="image" src="../../../assets/imgs/heure.png"/>
        <input type="image" src="../../../assets/imgs/lumieres.png"/>
    </div>
    <div class="buttonsRightBottom">
        <input type="image" src="../../../assets/imgs/volets.png"/>
        <input type="image" src="../../../assets/imgs/parametres.png"/>
    </div>
</div>
